<?xml version="1.0" encoding="utf-8"?>

<web-app id="Qrystal Manager"
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>versiontracker</display-name>
  
  <absolute-ordering>
    <name>log4j</name>
    <others/>
  </absolute-ordering>
  
  <!-- Listener needed to make sure we flush in-memory artifact metadata to disk when the servlet is reloaded -->
  <listener>
    <listener-class>de.codesourcery.versiontracker.server.APIImplDestructionListener</listener-class>
  </listener>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>api-servlet</servlet-name>
    <servlet-class>de.codesourcery.versiontracker.server.APIServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Servlet to URL mappings -->
  <servlet-mapping>
    <servlet-name>api-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/spring.cfg.xml</param-value>
  </context-param>

  <!--  Timeout in MINUTES -->
  <session-config>
    <!-- Get rid of annoying 'jsessionid' URL parameter -->
    <tracking-mode>COOKIE</tracking-mode>
    <session-timeout>30</session-timeout>
  </session-config>

</web-app>
